    <% if spaces.empty? %>
      <p>No Spaces In This Category.</p>
    <% end %>
    <% spaces.each do |space| %>
      <div>
         <%= link_to space_path(space) do %>
          <div class="card">
            <% if space.images? %>
              <div class="card-image" style="background-image: url('<%= cl_image_path(space.images.last.path) %>');" ></div>
            <% else %>
              <div class="card-image" style="background-image: url('<%= image_path('montreal.JPG') %>');" ></div>
              <% end %>
            <div class="card-body" style="font-size:30px; height:200px; ">
              <h2><%= space.name %></h2>
              <p style= "float: left"><%= space.category %></p>

            </div>
          </div>
        <% end %>
      </div>
      <% end %>
