<div class="banner">
  <div class="banner-content sweet">
    <div class="branding">
      <%= image_tag "logo_white.png" %>
      <h1>Commons</h1>
    </div>
  </div>
</div>

<div class="tabs">
  <%= render "tabs", active: params[:category].nil? ? "All" : params[:category] %>
</div>

<div class="spaces-display">
  <%= render "spaces_list", spaces: @spaces %>
</div>

<div class="text-center padded">
  <%= link_to "Add a Space", new_space_path, class: "btn btn main-btn" %>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

    $('.tabs a').click(function(){
        var tab_id = $(this).attr('datatab');

        $('.tabs a').removeClass('active');

        $(this).addClass('active');
    });
});
  </script>
<% end %>

