<div class="banner">
  <div class="banner-content sweet">


    <div class="branding">
      <%= image_tag "logo_white.png" %>
      <h1>Commons</h1>
    </div>

    <div class="buttons">
      <%= link_to "View Events", events_path, {class: "btn button main-btn"} %>
    </div>

  </div>
</div>



  <div class="spaces-display">
    <% @spaces.each do |space| %>
      <div>
         <%= link_to space_path(space) do %>
          <div class="card">
            <% if space.images? %>
              <div class="card-image" style="background-image: url('<%= cl_image_path(space.images.last.path) %>');" ></div>
            <% else %>
              <div class="card-image" style="background-image: url('<%= image_path('montreal.JPG') %>');" ></div>
              <% end %>
            <div class="card-body" style="font-size:30px; height:200px; width:200px">
              <h2><%= space.name %></h2>
              <p><%= space.category %></p>
              <p>$<%= space.price %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
  </div>



<div class="text-center padded">
  <%= link_to "Add a Space", new_space_path, class: "btn btn-cool" %>
</div>
