
 <h1><%= @event.name %></h1>



<div class="messenger">
 <h2>
 <%= pluralize @event.messages.size, "message" %>
 </h2>

  <div id="messages">
    <% if @event.messages.blank? %>
      leave a message for <%= @event.name %>
    <% else %>
      <% @event.messages.each do |message| %>
        <%= render 'messages/show', message: message %>
      <% end %>
    <% end %>
  </div>

  <%= render 'messages/form', event: @event, message: Message.new%>
</div>






        <%= link_to 'Edit', edit_event_path(@event), class:"btn btn-primary btn-lg"%>

 <%= link_to 'Back', events_path, class:"btn btn-primary btn-lg" %>
