
 <h1><%= @event.name %></h1>



<div class="messenger">
 <h2>
 <%= pluralize @event.messages.size, "message" %>
 </h2>

  <div id="messages">
    <% if @event.messages.blank? %>
      leave a message for <%= @event.name %>
    <% else %>
      <% @event.messages.each do |message| %>
        <%= render 'messages/show', message: message %>
      <% end %>
    <% end %>
  </div>

  <%= render 'messages/form', event: @event, message: Message.new%>
</div>




<div class="reviewer">
 <h2>
 <%= pluralize @event.reviewevents.size, "review" %>
 </h2>

  <div id="reviews">
    <% if @event.reviewevents.blank? %>
      Be the first to leave a review for <%= @event.name %>
    <% else %>
      <% @event.reviewevents.each do |review| %>
        <%= render 'reviewevents/show', reviewevent: review %>
      <% end %>
    <% end %>
  </div>
  <%= render 'reviewevents/form', event: @event, reviewevent: Reviewevent.new%>
</div>



        <%= link_to 'Edit', edit_event_path(@event), class:"btn btn-primary btn-lg"%>

 <%= link_to 'Back', events_path, class:"btn btn-primary btn-lg" %>
