<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield(:title_tag).blank? ? "Commons - Inspiration Repurposed" : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Zilla+Slab" rel="stylesheet">

    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Commons" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content= "http://www.commons.fun/"/>
    <meta property="og:image" content="http://www.commons.fun/assets/logo-7503965f57527ed84af8d8e378fbd4eac363d7c2957087df25708a271702bb5f.png" />
    <meta property="og:description" content="Inspiration Repurposed" />
    <meta property="og:site_name" content="Commons" />
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
     <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= yield(:after_js) %>
    <%= cloudinary_js_config %> <!-- Append this after the main `javascript_include_tag`. -->
  </body>
</html>
